@import "tailwindcss";

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc;
}

/* Optional: smooth scrolling for chat */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #166534;
  border-radius: 20px;
}